h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
  color: #fff;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
  color: #fffcf2cc;
  text-align: center;
}

img {
  width: 70%;
  margin-left: 17px;
  margin-top: 10px;
  padding: 6px;
}

h3,
p {
  width: 60%;
}

.container {
  background-color: #1996da;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.column {
  flex-basis: calc(100% / 3);
}

.circle {
  height: 100px;
  width: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: 60px;
}
