h2 {
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-end;
  justify-content: right;
}

.container {
  max-width: 85%;
}

.logo {
  width: 140px;
  height: 60px;
}

.head-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 1400px;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url('avenir.woff2') format('woff2');
  color: #adadad;
}

.contact-us,
.get-started {
  color: white;
  background-color: #2f4c70;
  border: 0 solid #2f4c70;
}

.contact-us {
  margin-top: 15px;
  margin-left: 5px;
  height: 45px;
  width: 120px;
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 0;
  src: url('avenir.woff2') format('woff2');
}

.horizontal {
  width: 1800px;
  border-color: rgb(240, 239, 239);
}

.get-started {
  height: 60px;
  width: 200px;
  font-size: 20px;
}

.background {
  background-image: url(images/hero.jpg);
  background-size: cover;
  width: 1400px;
  height: 700px;
  padding-left: 50px;
  padding-top: 50px;
}

.heading {
  margin-top: 40px;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  src: url('avenir.woff2') format('woff2');
  color: white;
  width: 500px;
}

.text-content {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  font-size: 20px;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
  color: rgb(255, 254, 254);
  width: 600px;
  margin-bottom: 20px;
}

.row-3 {
  margin-top: 50px;
  width: 1400px;
  height: 450px;
  background-color: #fafafade;
}

.sub-row-3 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 20px 20px;
}

.clinicians {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
  font-size: 32px;
  color: rgb(88, 88, 88);
  text-align: center;
  padding-top: 20px;
}

.physician {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
  font-size: 16px;
  color: #888;
  margin-top: 10px;
  text-align: center;
}

.column1,
.column2 {
  justify-content: space-around;
  padding: 20px;
}

.cities {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: lighter;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
  color: #888;
  font-size: 20px;
  margin: 35px 0;
}

.row-4 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 20px;
}

.column3 {
  margin-left: 20px;
}

.second-get-started {
  margin-top: 20px;
}

.row-5 {
  display: flex;
  background: #525351;
}

.row-6 {
  display: flex;
  height: 150px;
  background: #fafafa;
}
